.hero-section {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}


.rays-bg {

    position: absolute;
    inset: 0;
    z-index: -1;
}


.hero-content {
    position: relative;
    z-index: 1;
}
