.bg-grid {
    background-color: #000;
    background-image:
            linear-gradient(
                    to right,
                    rgba(255, 255, 255, 0.08) 1px,
                    transparent 1px
            ),
            linear-gradient(
                    to top,
                    rgba(255, 255, 255, 0.08) 1px,
                    transparent 1px
            );
    background-size: 110px 110px;
}
